# Build artifacts
build/
target/

# Dependencies
node_modules/

# Environment files
.env
.env.*
config.yaml

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db

# Move artifacts
*.mv.json 